<?xml version="1.0"?>
<launch>

  <!--include file="$(find aut_exploration)/launch/master.launch" / -->

  <group ns="robot1">
      <param name="namespace" value="robot1" />
    <node pkg="aut_exploration" type="exploration_client.py" name="explore_client" output="screen">


    </node>


  </group>

<group ns="robot2">
      <param name="namespace" value="robot2" />
      <node pkg="aut_exploration" type="exploration_client.py" name="explore_client" output="screen">


    </node>


  </group>
<group ns="robot3">
      <param name="namespace" value="robot3" />
      <node pkg="aut_exploration" type="exploration_client.py" name="explore_client" output="screen">


    </node>


  </group>
<group ns="robot0">
      <param name="namespace" value="robot0" />
      <node pkg="aut_exploration" type="exploration_client.py" name="explore_client" output="screen">


    </node>


  </group>


</launch>
