<?xml version="1.0"?>
<launch>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
  <arg name="paused" default="false"/>
      <arg name="world_name" default="$(find setup)/worlds/complete_world_test.world"/>
  </include>
 <node pkg="communication_node" type="registration_server" name="registration_server_node" />




</launch>
