<?xml version="1.0"?>
<launch>

  <include file="$(find setup)/launch/p3at_spawn.launch">
    <arg name="robotname" value="sos1"/>
    <arg name="initialx" value="-5"/>
    <arg name="initialy" value="-1"/>
  </include>

  <include file="$(find setup)/launch/p3at_spawn.launch">
    <arg name="robotname" value="sos2"/>
    <arg name="initialx" value="16.5"/>
    <arg name="initialy" value="17"/>
  </include>

  <include file="$(find setup)/launch/p3at_spawn.launch">
    <arg name="robotname" value="sos3"/>
    <arg name="initialx" value="8"/>
    <arg name="initialy" value="-3.5"/>
  </include>

  <include file="$(find setup)/launch/p3at_spawn.launch">
    <arg name="robotname" value="sos4"/>
    <arg name="initialx" value="-17"/>
    <arg name="initialy" value="17"/>
  </include>


</launch>
