<?xml version="1.0"?>
<launch>
   <include file="$(find setup)/launch/gserver.launch" />

  <param name="use_sim_time" value="true" />

<include file="$(find setup)/launch/p3at_spawn.launch">
    <arg name="robotname" value="sos1"/>
    <arg name="initialx" value="-5"/>
    <arg name="initialy" value="-1"/>
  </include>







</launch>
