<?xml version="1.0"?>
<launch>







  <group ns="robot1">
      <param name="namespace" value="robot1" />
      <param name="number_of_robots" value="2" />
  <node pkg="burgard" type="burgard_exploration.py" name="burgard1" output="screen" />

  </group>


  <group ns="robot2">
      <param name="namespace" value="robot2" />
      <param name="number_of_robots" value="2" />
  <node pkg="burgard" type="burgard_exploration.py" name="burgard1" output="screen" />

  </group>


</launch>
